<div class="container mt-4">
    <h2 class="titulo-home">Personajes ( pag. {{ page }} - {{ info['pages'] }} ) </h2>
</div>
<hr>


<div>
    <app-personaje-tarjeta class="tarjetas" [personajes]="personajes"></app-personaje-tarjeta>
</div>

<div class="container">
    <div class="botones mb-4">
        <button [ngStyle]="{'aria-disabled': disable }" [ngClass]="{ 'disabled': info['prev'] === null  }" (click)="getPagina(-1)" class="btn btn-success  mr-2">Atras</button>

        <button [ngClass]="{ 'disabled': info['next'] === null  }" (click)="getPagina(1)" class="btn btn-success">Siguiente</button>
    </div>
</div>