/* You can add global styles to this file, and also import other style files */
body{
    background: #171729 !important;
}

hr{
    border: 2px solid white;
}

/* Header */
.header-principal{
    height: 10rem;
}


/* .header-imagen{
    background-image: url("src/assets/images/header.jpg");
    background-position: center;
    background-size: cover;
    height: 35rem;
} */

.navbar{
    height: 5rem;
}

.nav-link{
    color: black !important;
    font-size: 1.3rem;
}

.nav-link:hover{
    color: rgb(46, 186, 221) !important;
}

/* Section */
.section{
    background-color: rgba(23, 21, 31, 0.829);
}

/* HOME COMPONENT */
/* Titulo de la seccion de los Personajes */
.titulo-home{
    font-size: 25px;
    text-align: center;
    color: white;
}

/* Tarjetas */
.tarjetas{
    padding: 20px;
    background: #171729;
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas .tarjeta{
    border-radius: 10px;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: white;
    background-color: #1a1a38;
}

.tarjetas .tarjeta .img-tarjeta img{
    border-radius: 10px 10px 0px 0px;
    height: auto;
}

.tarjetas .tarjeta .info-tarjeta{
    padding: 15px;
}

.bg-red{
    display: inline-block;
    background-color: red;
    box-shadow: 1px 2px red;
}

.bg-green{
    background-color: green;
    box-shadow: 0 0 15px 4px green;
}

.tarjetas .tarjeta .status {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tarjetas .tarjeta .status .circle{
    flex: 0 1 10px;
    height: 10px;
    border-radius: 50%;
}

.tarjetas .tarjeta .status .status .texto-status{
    display: inline-block;
    flex: 0 1 70%;
    margin: 0 !important;
}

/* Footer */
.footer{
    background-color: rgb(39, 39, 39);
    height: 10rem;
    
}

